In [1]:
# Сначала надо настроить ODBC драйвер. 
# Они бывают разные. Можно взять этот
# https://www.cloudera.com/downloads/connectors/hive/odbc/2-6-1.html
# Настройка
# https://docs.cloudera.com/documentation/other/connectors/hive-odbc/2-6-1/Cloudera-ODBC-Driver-for-Apache-Hive-Install-Guide.pdf

import pyodbc

In [2]:
import pandas as pd

In [3]:
with pyodbc.connect("DSN=DESandBox Hive", autocommit=True) as conn:
    df = pd.read_sql('''
    SELECT * FROM Ratings
    ''',conn)

C:\Users\kamik\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [4]:
df.head()

   ratings.user_id  ratings.movie_id  ratings.rating  ratings.ts
0                0                50               5   881250949
1                0               172               5   881250949
2                0               133               1   881250949
3              196               242               3   881250949
4              186               302               3   891717742