In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('фрукты_овощи.csv', sep = ';')

In [3]:
df.head()

,Дата,Магазин,Город,Товар,Категория,Количество. кг,Стоимость. руб.
0,26.09.2012,Провиант,Владимир,Томаты,Овощи,8.5,680.0
1,14.02.2015,Сельпо,Ковров,Яблоки,Фрукты,1.1,75.9
2,06.02.2011,Полтинник,Гусь-Хрустальный,Картофель,Овощи,10.3,360.5
3,03.04.2010,Авоська,Владимир,Яблоки,Фрукты,3.4,234.6
4,21.12.2011,Копеечка,Ковров,Апельсины,Фрукты,19.4,1241.6

In [4]:
df.describe()

       Количество. кг  Стоимость. руб.
count     2000.000000      2000.000000
mean        10.208050       712.614400
std          5.619911       534.861328
min          0.500000        13.500000
25%          5.200000       303.600000
50%         10.300000       588.400000
75%         15.200000       991.400000
max         20.000000      2626.800000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Дата             2000 non-null   object
 1   Магазин          2000 non-null   object
 2   Город            2000 non-null   object
 3   Товар            2000 non-null   object
 4   Категория        2000 non-null   object
 5   Количество. кг   2000 non-null   float64
 6   Стоимость. руб.  2000 non-null   float64
dtypes: float64(2), object(5)
memory usage: 109.5+ KB

In [33]:
df.groupby(['Город', 'Категория'])['Количество. кг'].count()

Город             Категория
Владимир          Овощи        326
                  Фрукты       321
Гусь-Хрустальный  Овощи        351
                  Фрукты       299
Ковров            Овощи        343
                  Фрукты       360
Name: Количество. кг, dtype: int64

In [38]:
df.pivot_table(index=['Категория'] ,columns= ['Город'], values=['Стоимость. руб.'], aggfunc=max)

          Стоимость. руб.
Город            Владимир Гусь-Хрустальный  Ковров
Категория
Овощи              2626.8           2587.2  2613.6
Фрукты             2435.4           2447.7  2373.9

In [37]:
pd.crosstab(df['Категория'], df['Город'],normalize='index')

Город      Владимир  Гусь-Хрустальный    Ковров
Категория
Овощи      0.319608          0.344118  0.336275
Фрукты     0.327551          0.305102  0.367347